[Unit]
Description=Alpha BPR Home PS01 Alpha.HMI WebViewer
After=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/stanislav/work/alpha-hmi-dev/out/ps01_full_alpha_platform_runtime_20260731/webviewer/local-webviewer-run
ExecStart=/home/stanislav/work/alpha-hmi-dev/out/ps01_full_alpha_platform_runtime_20260731/webviewer/local-webviewer-run/alpha.hmi.webviewer PS01
KillSignal=SIGINT
TimeoutStopSec=10
KillMode=control-group
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
